
body{ clear: both;
  background-color: #00b3fe;
}
a:hover{
background-color : #ef3d1a;
}
img{
max-width: 350px;


}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
    text-decoration: none;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #FF5722;
    margin: 10px 0;
    color: #FF5722
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #ef3d1a;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.logout input[type="submit"]{
    background: #ef3d1a;
    border: 5px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
